<div class="trafficlight" ...attributes>
  <div class="protector" />
  <div class="protector" />
  <div class="protector" />
  <div
    role="button"
    class="
      red
      {{if this.light.color.isRed "is-active"}}
    "
    onclick={{action this.light.changeColor "red"}}
  />
  <div
    role="button"
    class="
      yellow
      {{if this.light.color.isYellow "is-active"}}
    "
    onclick={{action this.light.changeColor "yellow"}}
  />
  <div
    role="button"
    class="
      green
      {{if this.light.color.isGreen "is-active"}}
    "
    onclick={{action this.light.changeColor "green"}}
  />
</div>
