<div class="light trafficlight" ...attributes>
  <div class="protector" />
  <div class="protector" />
  <div class="protector" />
  <div
    role="button"
    class="
      red
      {{if this.light.color.isRed "is-active"}}
    "
    {{on "click" (fn this.light.changeColor "red")}}
  />
  <div
    role="button"
    class="
      yellow
      {{if this.light.color.isYellow "is-active"}}
    "
    {{on "click" (fn this.light.changeColor "yellow")}}
  />
  <div
    role="button"
    class="
      green
      {{if this.light.color.isGreen "is-active"}}
    "
    {{on "click" (fn this.light.changeColor "green")}}
  />
</div>
